<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=product.name%></title>
</head>
<body>
    <h1>Here is the <%=product.name%></h1>

    <%=product.name%> - £<%=product.price%>
    <section>
        category: <%=product.category%>
    </section>
    <section>
        <a href="/products">All Products</a>
    </section>

    <a href="/products/<%=product._id%>/edit">Edit <%=product.name%></a>
    
</body>
</html>